<header>
  <h2>My Tasks</h2>
  <p>
    <select (change)="onChangeTasksFilter(filter.value)" #filter>
      <option value="all">All</option>
      <option value="open">Open</option>
      <option value="in-progress">In-Progress</option>
      <option value="done">Completed</option>
    </select>
  </p>
</header>


<!-- Logic of task filtering and display is done in component. Here u only loop through the modified [] of ALL tasks -->
<ul>
  @for (task of tasks(); track task.id) {
  <li>
    <app-task-item [task]="task" />
  </li>
  }
</ul>
