<!-- Following code is now used in content projection and template for app-control component -->
<!-- <p>
  <label>Title</label>
  <input name="title" id="title" />
</p> -->

<form (ngSubmit)="onSubmit(titleInput.value, textareInput.value, form)" #form>
  <app-control label="Title">
    <!-- Using template variables and extracting value from the input. Just alternative to two way binding -->
    <!-- You can have multiple template variables. #input is used in the control.component to show how to work with projected content and variables -->
    <input name="title" id="title" #titleInput #input />
  </app-control>
  <app-control label="Request">
    <textarea
      name="request"
      id="request"
      rows="3"
      #textareInput
      #input
    ></textarea>
  </app-control>
  <p>
    <button appButton>
      Submit
      <span ngProjectAs="icon">⌲</span>
    </button>
  </p>
</form>
